
div{

  width: 100px;
    text-align: center;
    
    align-items: center;
}
img{
    width: 500px;
    text-align: center;
    align-items: center;
    margin-top: 500px;
    border-radius: 50px;
    height: 300%;

}
.m{
  width: 500px;

    text-align: center ;
    align-items: center;
    margin-top: 100px;
    
    border-radius: 50px;
    
}
div{
    text-align: center;
    align-items: center;
}
p{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    align-items: center;
}
h1{
    font-size: 100px;
    text-align: center;
    align-items: center;
}



h1 {
  margin: 0;
  padding-top: 3rem;
  padding-left: 2rem;
}

.k{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 105%;
  min-height: 100%;
  transform: translateX(calc((100% - 100vw) / 2));
  z-index: -2;
}
body {
  position: relative;
  margin: 0;
}
.sect {
  width: 100%;
  min-height: 500px;
}
#sect1,
#sect3 {
  background-color: #3333337d;
  color: #fff;
}
#sect2 {
  background-color: #dddddd7d;
  color: #333;
}


h1 {
  margin: 0;
  padding-top: 3rem;
  padding-left: 2rem;
}

 

